/* -----------------------------------
  MARGINS E PADDINGS DEFAULT
-------------------------------------- */
.mr-xs{ margin-right:3px!important;}
.mr-sm{ margin-right:5px!important;}
.mr-md{ margin-right:10px!important;}
.mr-lg{ margin-right:15px!important;}
.ml-xs{ margin-left:3px!important;}
.ml-sm{ margin-left:5px!important;}
.ml-md{ margin-left:10px!important;}
.ml-lg{ margin-left:15px!important;}
.mt-xs{ margin-top:3px!important;}
.mt-sm{ margin-top:5px!important;}
.mt-md{ margin-top:10px!important;}
.mt-lg{ margin-top:15px!important;}
.mt-40{ margin-top:40px!important;}
.mb-xs{ margin-bottom:3px!important;}
.mb-sm{ margin-bottom:5px!important;}
.mb-md{ margin-bottom:10px!important;}
.mb-lg{ margin-bottom:15px!important;}
.ma-xs{ margin:3px!important;}
.ma-sm{ margin:5px!important;}
.ma-md{ margin:10px!important;}
.ma-lg{ margin:15px!important;}

.pr-xs{ padding-right:3px!important;}
.pr-sm{ padding-right:5px!important;}
.pr-md{ padding-right:10px!important;}
.pr-lg{ padding-right:15px!important;}

.pl-xs{ padding-left:3px!important;}
.pl-sm{ padding-left:5px!important;}
.pl-md{ padding-left:10px!important;}
.pl-lg{ padding-left:15px!important;}

.pt-xs{ padding-top:3px!important;}
.pt-sm{ padding-top:5px!important;}
.pt-md{ padding-top:10px!important;}
.pt-lg{ padding-top:15px!important;}

.pb-xs{ padding-bottom:3px!important;}
.pb-sm{ padding-bottom:5px!important;}
.pb-md{ padding-bottom:10px!important;}
.pb-lg{ padding-bottom:15px!important;}

.pa-xs{ padding:3px!important;}
.pa-sm{ padding:5px!important;}
.pa-md{ padding:10px!important;}
.pa-lg{ padding:15px!important;}
.np{padding: 0 !important;}

.nm{margin: 0 !important;}
.nmr{margin-right: 0 !important;}
.nml{margin-left: 0 !important;}
.nmt{margin-top: 0 !important;}
.nmb{margin-bottom: 0 !important;}

.np{padding: 0 !important;}
.npr{padding-right: 0 !important;}
.npl{padding-left: 0 !important;}
.npt{padding-top: 0 !important;}
.npb{padding-bottom: 0 !important;}

.npx {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bt-xs{border-top:1px solid #ccc !important;}
.bb-xs{border-bottom:1px solid #ccc !important;}
.bl-xs{border-left:1px solid #ccc !important;}
.br-xs{border-right:0px solid #ccc !important;}
.ba-xs{border:1px solid #ccc !important;}
.nbl{border-left:0 !important;}
.nbr{border-right:0 !important;}
.nba{border:0 !important}

.bra-xs{ border-radius: 2px;}
.bra-sm{ border-radius: 4px;}
.bra-md{ border-radius: 6px;}
.bra-lg{ border-radius: 8px;}
.nbra{ border-radius: 0px!important;}


/* FORMULARIOS LOGIN E CADASTRO DE USUARIO */
.containerFormLogin, .containerFormCadastrar{
  margin-top: 20%;
}

/* ALERTAS */
.alert{
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0%,-30%);
}

.alert-danger, .alert-success{
  display: none;
}

/* MENU */

.containerMenu{
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #fff;
  z-index: 9999;
}

/* LISTAGEM ANIMAL */
.containerListagemAnimais{
  position: relative;
  top: 150px;
  border-top:1px solid #ccc !important;
  border-bottom:1px solid #ccc !important;
}

/* MARGEM ENTRE BOTÕES DO MENU */
.menuMargem{
  margin-bottom: 3px;
}
